@import "banner.css";
@import "services.css";
@import "about-us.css";
@import "reviews.css";
@import "footer.css";

:root {
    --primary-color: rgb(191 146 91);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-family: "Barlow Semi Condensed", Arial, sans-serif;
}

body {
    margin: 0;
    font-family: "Poppins", Arial, sans-serif;
    line-height: 1.6rem;
}

body a {
    text-decoration: none;
    color: white;
}

body li {
    list-style-type: none;
}

body h1, h2, h3 {
    font-family: "Poppins", sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

/*NAVBAR SECTION*/
.navbar {
    position: fixed;
    background-color:
    rgba(0,0,0,0.5);
    color: white;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0.7rem;
    width: 100%;
    z-index: 1;
    margin: 0;
}

.navbar-ul {
    display: flex;
}

li.nav-contact {
    padding-right: 0;
}

.navbar-ul-li {
    padding: 5px 20px;
}

.dropdown button {
    display: none;
}

@media screen and (max-width:900px) {

/*NAVBAR SECTION 950px*/
    .navbar {
        justify-content: space-between;
        padding: 0.7rem 2rem;
    }

    .navbar-ul {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
    }

    /*dropdown menu nav*/
    .dropdown-button {
        background: rgba(0, 0, 0, 0);
        color: white;

        font-size: 20px;
        cursor: pointer;
        border: none;
    }
    
    .dropdown-button:hover, .dropdown-button:focus {
        color: rgb(191 146 91);
    }

    .dropdown button {
        display: block;
    }
    /*
    .dropdown {
        display: block;
        position: relative;
        display: inline-block;
    }
    */
    
    .dropdown-content {
        background-color: #f1f1f1;
        width: 200px;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

        /*viktigt*/
        display: none;
        position: absolute;
        z-index: 1;
    }
    
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        
        /*lite viktigt*/
        display: flex;
        flex-direction: column;
    }
    
    .dropdown a:hover {
        background-color: #ddd;
    }

    /*viktigt*/
    .show {
        display: block;
    }

    .navbar-ul-li {
        padding: 5px 20px;
        list-style-type: none;
        text-decoration: none;
        padding: 0;
        margin: 0;
    }
    
}

/*NU ÄR VI UTANFÖR @media 950px*/